*{
  font-family:helvetica;
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background-color: antiquewhite;
}

a{
  text-decoration: none;
  color:brown;
  transition: .5s;
}

a:hover{
  color:darkgoldenrod
}